@model List<rpm_joinery.Models.Project>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v4.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="106613147349638">
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="overlay">
            <img src="~/img//carousel-overlay-1.png" class="image-responsive" data-aos="fade-right" data-aos-duration="3000" />
        </div>
        <div class="overlay-right">
            <img src="~/img//carousel-overlay-2.png" class="image-responsive" data-aos="fade-left" data-aos-duration="3000" />
        </div>
        <div class="overlay-right">
            <img src="~/img//carousel-overlay-3.png" class="image-responsive" data-aos="fade-left" data-aos-duration="3000" />
        </div>
        <div class="overlay">
            <img src="~/img//carousel-overlay-4.png" class="image-responsive" data-aos="fade-right" data-aos-duration="2500" />
        </div>
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" data-parallax="scroll" data-image-src="../img/carousel_kitchen.jpeg" style="background-image: url(../img/carousel_kitchen.jpeg)">
            <div class="carousel-caption">
                <h1 class="carousel-title"><span class="reveal">Kitchens</span></h1>
                <a asp-controller="Home" asp-action="Services" class="btn btn-lg btn-carousel" data-aos="fade-up" data-aos-delay="200"> Learn More </a>
                <a asp-controller="Home" asp-action="Contact" class="btn btn-lg btn-carousel" data-aos="fade-up" data-aos-delay="400"> Contact Us </a>
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../img/carousel_bathroom.jpeg')">
            <div class="carousel-caption">
                <h1 class="carousel-title"><span class="reveal">Bathrooms</span></h1>
                <a asp-controller="Home" asp-action="Services" class="btn btn-lg btn-carousel" data-aos="fade-up" data-aos-delay="200"> Learn More </a>
                <a asp-controller="Home" asp-action="Contact" class="btn btn-lg btn-carousel" data-aos="fade-up" data-aos-delay="400"> Contact Us </a>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../img/carousel_doorswindows.jpg')">
            <div class="carousel-caption">
                <h1 class="carousel-title"><span class="reveal">Doors & Windows</span></h1>
                <a asp-controller="Home" asp-action="Services" class="btn btn-lg btn-carousel" data-aos="fade-up" data-aos-delay="200"> Learn More </a>
                <a asp-controller="Home" asp-action="Contact" class="btn btn-lg btn-carousel" data-aos="fade-up" data-aos-delay="400"> Contact Us </a>
            </div>
        </div>
        <!-- Slide Four - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../img/carousel-commercial.jpg')">
            <div class="carousel-caption">
                <h1 class="carousel-title"><span class="reveal">Commercial</span></h1>
                <a asp-controller="Home" asp-action="Services" class="btn btn-lg btn-carousel" data-aos="fade-up" data-aos-delay="200"> Learn More </a>
                <a asp-controller="Home" asp-action="Contact" class="btn btn-lg btn-carousel" data-aos="fade-up" data-aos-delay="400"> Contact Us </a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="container">

    <h1 class="my-4">Welcome to RPM Joinery and Maintenance</h1>
    <hr />
    <!-- Introduction Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Quality joiners in Dundee, Fife and Angus</h2>
            <p>We provide our joinery and maintainance services to homeowners across <b> Dundee</b>, <b> Fife</b>, <b>Angus </b> and the surrounding areas and have more than 10 years of trade experience.</p>
            <p>We do everything from full property refurbishments to small maintenance jobs. Whatever your requirements are, our team will carry out the works to your exact specifications; all at a great price.</p>
            <p>Feel free to contact us through the <a href="@Url.Action("Contact","Home")">contact page</a> or directly on <b> 07970058622. </b> Any size of job we will give you a free quote.</p>

            <p>Some of the typical work undertaken by RPM includes: </p>
            <ul>
                <li>Bathrooms</li>
                <li>Kitchens</li>
                <li>Fencing / Decking</li>
                <li>Property refurbishment</li>
                <li>Doors & Windows </li>
            </ul>
            <p>For a comprehensive list of all of the services we offer, please visit the <a href="@Url.Action("Services","Home")">services page </a>. You can also view relevant work we have carried out recently in our <a href="@Url.Action("Index","Projects")">projects page</a>.
        </div>
        <div class="col-lg-6 d-none d-lg-block">
            <img class="img-fluid rounded" src="../../img/rpmBig.png" alt="RPM Logo large">
        </div>
    </div>
    <!-- Contact Section -->
    <hr>


    <div class="row mb-4">
        <div class="col-md-8">
            <div class="centerDiv">
                <p><b>Get in touch today for a free no-obligation quote.</b></p>
            </div>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-dark btn-block" href="@Url.Action("Contact", "Home")">Make An Enquiry</a>
        </div>
    </div>
    <hr />
    <div class="text-center">
        <h2> Recent Work </h2>
        <h4> Here’s a selection of work taken from our portfolio, showcasing our latest client projects.</h4>
    </div>
    <br />
    <div class="row">
        <ul class="cards">
            @{
                var delayOffset = 0;
            }
            @foreach (var project in Model)
            {
                <li class="cards_item" data-aos="fade-up" data-aos-delay="@delayOffset">
                    <div class="card">
                        <div class="card_image"><a href="@Url.Action("Details", "Projects", new { id = project.Id })"><img class="card-img-top" src='@project.Images.Where(i=>i.IsPrimaryImage).FirstOrDefault().ImageFilePath'></a></div>
                        <div class="card_content">
                            <h2 class="card_title">@project.Title</h2>
                            @if (project.Description.Length > 80)
                            {
                                <p class="card_text">@project.Description.Substring(0, 80)...</p>
                            }
                            else
                            {
                                <p class="card_text">@project.Description</p>
                            }
                            <a class="btn card_btn" href="@Url.Action("Details", "Projects", new { id = project.Id })">Read More</a>
                        </div>
                    </div>
                </li>
                delayOffset = delayOffset + 250;
                if (delayOffset >= 750) { delayOffset = 0; }
            }
        </ul>
    </div>

</div>
<!-- /.container -->
@section Scripts {
    <script type="text/javascript">
        $(".navbar").removeClass('bg-dark');
        $(".navbar").addClass('bg-dark-transparent');
        $('#home-link').addClass('active');
    </script>
    <script>
        window.onresize = doALoadOfStuff;
        doALoadOfStuff();
        function doALoadOfStuff() {
            var cardContentList = document.getElementsByClassName(".card_content");
            var maxHeight = 0;
            for (var i = 0; i < cardContentList.Length; i++) {
                if ($(cardContentList.item(i)).height() > maxHeight)
                    maxHeight = $(cardContentList.item(i)).height();
            }
            $(".card_content").equalHeights(maxHeight);
        }
    </script>
}
