<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewBag.Title | RPM Joinery & Maintenance </title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="description" content='@(ViewBag.MetaDescription ?? "Welcome to the site!")'>
    <meta name="keywords" value="@ViewBag.MetaKeywords" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/lightbox.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="icon" href="~/img/rpmfavicon.ico">
</head>
<body>
    <header>
        <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css" />
        <script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
        <script>window.addEventListener("load", function () { window.wpcc.init({ "border": "thin", "corners": "small", "colors": { "popup": { "background": "#222222", "text": "#ffffff", "border": "#f9f9f9" }, "button": { "background": "#f9f9f9", "text": "#000000" } }, "position": "bottom", "content": { "href": "https://rpm-joinery20190812070745.azurewebsites.net/Cookies" } }) });</script>
        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-transparent fixed-top">
            <div class="container">
                <!-- <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
                <a href="@Url.Action("Index","Home")"> <img src="../../img/rpm-logo-trans.png" width="200px" alt="RPM Joinery Logo"> </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" onclick="darkenNavbar();">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="home-link" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="about-link" href="@Url.Action("About","Home")">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="services-link" href="@Url.Action("Services","Home")">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-link" href="@Url.Action("Contact","Home")">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="projects-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Projects
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" asp-controller="Projects" asp-action="Index">All</a>
                                <a class="dropdown-item" asp-controller="Projects" asp-action="Tag" asp-route-tag="Kitchen">Kitchens</a>
                                <a class="dropdown-item" asp-controller="Projects" asp-action="Tag" asp-route-tag="Commercial">Commercial</a>
                                <a class="dropdown-item" asp-controller="Projects" asp-action="Tag" asp-route-tag="Bathroom">Bathrooms</a>
                                <a class="dropdown-item" asp-controller="Projects" asp-action="Tag" asp-route-tag="Floor">Flooring</a>
                                <a class="dropdown-item" asp-controller="Projects" asp-action="Tag" asp-route-tag="Maintenance">Maintenance</a>
                            </div>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a asp-area="Identity" asp-action="Logout" class="btn btn-danger">Log Out</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- Main Render Entry Point -->
    
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @*<div class="credit-container" id="credit-container">
            <a href="@Url.Action("About","Home")"> <img src="../../img/DttLogo.png" height="64" alt="Dundee Trusted Trader Scheme Logo" align="middle"> </a>
            <a href="@Url.Action("About","Home")"> <img src="../../img/ArtsLogo.png" height="64" alt="Angus Reputable Trader Logo" align="middle"> </a>
            <a href="https://www.facebook.com/rpmjoinerydundee/"> <img src="../../img/facebook.png" height="64" alt="Like us on Facebook Logo" align="middle"> </a>
        </div>*@

    @*<img src="~/img/waves2.png" class="waves-img" style="position: relative;
        z-index:100;" />*@
    <div class="get-in-touch-container">
        <br />
        <div class="container" style="text-align: center;">
            <div class="col-md-5 col-sm-6">
                <h4 class="wide-spacing"> GET IN TOUCH TODAY </h4>
                <p>
                    <span>
                        For more information on any of our products and services across Scotland please call us on 01382 225 934 and ask for a FREE no-obligation quote.
                    </span>
                </p>
                <a asp-controller="Home" asp-action="Contact" class="btn btn-xlarge btn-outline-light" data-aos="fade-up" data-aos-delay="200">GET A QUOTE</a>
            </div>

        </div>
    </div>
    <div class="pre-footer">
        <div class="container">
            <div class="row centered">
                <div class="col-md-4">
                    <h5><b>Contact</b></h5>
                    <p>4 Valentine Court<br />Dunsinane Industrial Estate, Dundee<br />DD2 3QB <br /> Scotland</p>
                    <span class="fa fa-phone"></span> <abbr title="Phone">P</abbr>: 07970 058622
                    <br />
                    <span class="fa fa-envelope"></span>
                    <abbr title="Email">E</abbr>:
                    <a href="mailto:rpmdundee@gmail.com">
                        rpmdundee@gmail.com
                    </a>
                </div>
                <div class="col-md-4">
                    <h5><b>Useful Links</b></h5>
                    <h6><a asp-controller="Home" asp-action="About">About</a> <a asp-controller="Home" asp-action="Contact">Contact</a></h6>
                    <h6><a asp-controller="Home" asp-action="Services">Services</a> <a asp-controller="Projects" asp-action="Index">Projects</a>  </h6>
                    <h6><a asp-controller="Projects" asp-action="Tag" asp-route-tag="Kitchen">Kitchens</a> <a asp-controller="Projects" asp-action="Tag" asp-route-tag="Bathroom">Bathrooms</a></h6>
                    <h6><a asp-controller="Projects" asp-action="Tag" asp-route-tag="Commercial">Commercial</a> <a asp-controller="Projects" asp-action="Tag" asp-route-tag="Windows">Windows</a></h6>
                    <a asp-controller="Projects" asp-action="Tag" asp-route-tag="Maintenance">Maintenance</a>
                </div>
                <div class="col-md-4">
                    <br />
                    <h6><a href="#">XML Site Map</a></h6>
                    <h6><a href="@Url.Action("Cookies","Home")">Cookie Policy</a></h6>
                    <h6><a href="@Url.Action("Login","Account")">RPM Login</a></h6>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <p class="m-0 text-center text-white">Copyright &copy; RPM Joinery & Maintainance 2019</p>
        <p class="m-0 text-center text-white">Website Design by Gary Gillespie</p>
        <!-- /.container -->
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script src="~/js/jquery.equalheights.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>
    <script>
        AOS.init();
    </script>
    <script>
    function darkenNavbar ()
    {
        var $nav = $(".navbar");
        $nav.addClass('scrolled');
    }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
