<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Woodzone  - Solutions With Wood HTML Template | Home Page 02</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
  
<!--Color Themes-->
<link id="theme-color-file" href="css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
    
        <!-- Main Header-->
    <header class="main-header header-style-two">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="top-right">
                        <ul class="info-list clearfix">
                            <li><a href="#"><i class="icon flaticon-worldwide"></i>North East, Scotland</a></li>
                            <li><a href="#"><i class="icon flaticon-phone-call"></i>07807078294</a></li>
                            <li><a href="#"><i class="icon flaticon-email-1"></i>rpmjoinery@inquiry.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Lower -->
        <div class="header-lower">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="~/img/rpm-logo-trans.png" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md ">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon fa fa-bars"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li class="dropdown"><a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">About </a>
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="pricing.html">Price List</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Services</a>
                                        <ul>
                                            <li><a href="services.html">All Services</a></li>
                                            <li><a href="service-detail.html">General Carpentry</a></li>
                                            <li><a href="service-detail.html">Hang Paintings</a></li>
                                            <li><a href="service-detail.html">Furniture Design</a></li>
                                            <li><a href="service-detail.html">Commercial work</a></li>
                                            <li><a href="service-detail.html">Furniture Remodeling</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Projects</a>
                                        <ul>
                                            <li><a href="projects.html">Projects</a></li>
                                            <li><a href="project-detail.html">Projects Detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">shop</a>
                                        <ul>
                                            <li><a href="products.html">Our Products</a></li>
                                        <li><a href="product-single.html">Product Details</a></li>
                                        <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="login.html">Register / Login</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->

                        <!-- Outer Box -->
                        <div class="outer-box">
                            <!-- Cart button -->
                            <div class="cart-btn">
                                <a href="shopping-cart.html"><span class="count">2</span><span class="icon flaticon-shopping-bag"></span></a>
                            </div>

                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Lower-->

                <!-- Sticky Header -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" title=""><img src="~/img/rpm-logo-trans.png" style="max-width:250px; color:black;" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-collapse show collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home page 01</a></li>
                                        <li><a href="index-2.html">Home page 02</a></li>
                                        <li class="dropdown"><a href="#">Header Styles</a>
                                            <ul>
                                                <li><a href="index.html">Header Style One</a></li>
                                                <li><a href="index-2.html">Header Style Two</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">About </a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="pricing.html">Price List</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Services</a>
                                    <ul>
                                        <li><a href="services.html">All Services</a></li>
                                        <li><a href="service-detail.html">General Carpentry</a></li>
                                        <li><a href="service-detail.html">Hang Paintings</a></li>
                                        <li><a href="service-detail.html">Furniture Design</a></li>
                                        <li><a href="service-detail.html">Commercial work</a></li>
                                        <li><a href="service-detail.html">Furniture Remodeling</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Projects</a>
                                    <ul>
                                        <li><a href="projects.html">Projects</a></li>
                                        <li><a href="project-detail.html">Projects Detail</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">shop</a>
                                    <ul>
                                        <li><a href="products.html">Our Products</a></li>
                                        <li><a href="product-single.html">Product Details</a></li>
                                        <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="login.html">Register / Login</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div>
    </header>
    <!-- Main Render Entry Point -->

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @*<div class="credit-container" id="credit-container">
            <a href="@Url.Action("About","Home")"> <img src="../../img/DttLogo.png" height="64" alt="Dundee Trusted Trader Scheme Logo" align="middle"> </a>
            <a href="@Url.Action("About","Home")"> <img src="../../img/ArtsLogo.png" height="64" alt="Angus Reputable Trader Logo" align="middle"> </a>
            <a href="https://www.facebook.com/rpmjoinerydundee/"> <img src="../../img/facebook.png" height="64" alt="Like us on Facebook Logo" align="middle"> </a>
        </div>*@

    @*<img src="~/img/waves2.png" class="waves-img" style="position: relative;
        z-index:100;" />*@
    <div class="get-in-touch-container">
        <br />
        <div class="container" style="text-align: center;">
            <div class="col-md-5 col-sm-6">
                <h4 class="wide-spacing"> GET IN TOUCH TODAY </h4>
                <p>
                    <span>
                        For more information on any of our products and services across Scotland please call us on 07970 058622 and ask for a FREE no-obligation quote.
                    </span>
                </p>
                <a asp-controller="Home" asp-action="Contact" class="btn btn-xlarge btn-outline-light" data-aos="fade-up" data-aos-delay="200">GET A QUOTE</a>
            </div>

        </div>
    </div>
    <div class="pre-footer">
        <div class="container">
            <div class="row centered">
                <div class="col-md-4">
                    <h5><b>Contact</b></h5>
                    <p>4 Valentine Court<br />Dunsinane Industrial Estate, Dundee<br />DD2 3QB <br /> Scotland</p>
                    <span class="fa fa-phone"></span> <abbr title="Phone">P</abbr>: 07970 058622
                    <br />
                    <span class="fa fa-envelope"></span>
                    <abbr title="Email">E</abbr>:
                    <a href="mailto:rpmdundee@gmail.com">
                        rpmdundee@gmail.com
                    </a>
                </div>
                <div class="col-md-4">
                    <h5><b>Useful Links</b></h5>
                    <h6><a asp-controller="Home" asp-action="About">About</a> <a asp-controller="Home" asp-action="Contact">Contact</a></h6>
                    <h6><a asp-controller="Home" asp-action="Services">Services</a> <a asp-controller="Projects" asp-action="Index">Projects</a>  </h6>
                    <h6><a asp-controller="Projects" asp-action="Tag" asp-route-tag="Kitchen">Kitchens</a> <a asp-controller="Projects" asp-action="Tag" asp-route-tag="Bathroom">Bathrooms</a></h6>
                    <h6><a asp-controller="Projects" asp-action="Tag" asp-route-tag="Commercial">Commercial</a> <a asp-controller="Projects" asp-action="Tag" asp-route-tag="Windows">Windows</a></h6>
                    <a asp-controller="Projects" asp-action="Tag" asp-route-tag="Maintenance">Maintenance</a>
                </div>
                <div class="col-md-4">
                    <br />
                    <h6><a href="#">XML Site Map</a></h6>
                    <h6><a href="@Url.Action("Cookies","Home")">Cookie Policy</a></h6>
                    <h6><a href="/Identity/Account/Login">RPM Login</a></h6>
                </div>
            </div>
        </div>
    </div>


    
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--Revolution Slider-->
<script src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="js/main-slider-script.js"></script>
<!--End Revolution Slider-->
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/appear.js"></script>
<script src="js/mixItUp.js"></script>
<script src="js/isotope.js"></script>
<script src="js/script.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
