@model rpm_joinery.ViewModels.ProjectDetailsViewModel

@{
    ViewData["Title"] = ViewBag.Title;
}

<br />
<br />
<br />
<br />
<br />


<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />



<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="text-center">
                <h6>PROJECTS, DOMESTIC</h6>
                <h1> @Model.Project.Title </h1>
                <h5 style="text-align:center; font-weight:bolder; color:#777">POSTED ON @Model.Project.CreatedOn.ToShortDateString(), BY ROSS MURRAY</h5>
            </div>
            <img class="img-fluid rounded centerDiv" src="@Model.Project.Images.Where(i=>i.IsPrimaryImage).FirstOrDefault().ImageFilePath" alt="" style="text-align:center;">
            <br />
            <br />
            <h4>Services Provided:</h4>
            <ul>
                @{
                    string[] lines = Model.Project.ServicesProvided.Split(
                    new[] { Environment.NewLine },
                    StringSplitOptions.None
                    );
                    foreach (var line in lines)
                    {
                        if (line != "")
                        {
                            <li> @line </li>
                        }
                    }
                }
            </ul>
            <br />
            <h4> Description </h4>
            <h6> @Model.Project.Description </h6>
            <br />
            <div class="row">
                @{
                    foreach (var image in Model.Project.Images.Where(i => !i.IsPrimaryImage))
                    {
                        <div class="col-md-4">
                            <a href="@image.ImageFilePath" data-lightbox="image-related" data-title="@image.ImageDescription">
                                <img class="img-fluid rounded otherImg" src="@image.ImageFilePath" alt="@image.ImageDescription" style="text-align:center;">
                            </a>
                        </div>
                    }
                }
            </div>
            <br />
            <div class="row justify-content-center">
                <h6 style="font-weight:bolder;">
                    Tagged:
                    @foreach (var tag in Model.Project.Tags)
                    {
                        <a asp-controller="Projects" asp-action="Tag" asp-route-tag="@tag.Tag.Name"> @tag.Tag.Name,  </a>
                    }
                </h6>
            </div>
            <br />
            <hr />
            <div class="row centerBtns">
                <div id="share"></div>
            </div>
            <hr />

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left" style="width:50%;">
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.PreviousProjectId"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous Project </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right" style="width:50%;">
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.NextProjectId"> Next Project<i class="fa fa-arrow-right" aria-hidden="true"></i>  </a>
                </div>
            </div>
            <hr />
            <br />
            <br />

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="vl">
                <h4 style="color:#777;">About RPM Joinery & Maintenance</h4>
                <h6 style="color:#777;">RPM Joinery & Maintenance is a family owned and operated company that offer a wide range of home improvement, joinery and maintenance services. Our services range from domestic to commercial, and are always fairly priced and built to the highest possible standard.</h6>
                <br />
                <h4 style="color:#777">Browse Tags</h4>
                @foreach (var tag in Model.BrowseTags)
                {
                    <a asp-controller="Projects" asp-action="Tag" asp-route-tag="@tag.Name"><span class="mtags" style="font-size:@{@tag.FontSize}px;">@tag.Name</span></a>
                }
            </div>
            <div class="hidden-footer">
                <h4 style="color:#777">About RPM Joinery & Maintenance</h4>
                <h6>Our family run business offers a wide range of joinery services from the refurbishment of existing buildings, to the design and build of new homes, complete fitting and custom designed architectural touches. Change this *</h6>
                <br />
                <h4 style="color:#777">Browse Tags</h4>
                @foreach (var tag in Model.BrowseTags)
                {
                    <a asp-controller="Projects" asp-action="Tag" asp-route-tag="@tag.Name"><span class="mtags" style="font-size:@{@tag.FontSize}px;">@tag.Name</span></a>
                }
            </div>
        </div>
    </div>



    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit Project </a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(".navbar").removeClass('bg-dark-transparent');
        $(".navbar").addClass('bg-dark');
        $(".navbar").addClass('scrolled');
        $('#project-link').addClass('active');
        $(".sr").equalHeights();
    </script>
    <script type="text/javascript">
        $('#projects-link').addClass('active');
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
    <script>
        $("#share").jsSocials({
            shares: ["email", "twitter", "facebook", "linkedin", "pinterest", "whatsapp"]
        });
    </script>
}

